/* Colors
#0c2233
#9dd3dd
#ffc045 
*/
/* macro css declarations */
body {
    background-color:#0c2233;
    color:#9dd3dd;
    min-height:100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
p,h1,h2,h3,h4,li,a {
    padding:0 15px;
}
h1,h2,h3,h4 {
    letter-spacing:2px;
}
h1,h3, .white-text {
    color:#ffff; 
}
h1 {
    font-size:42px;
}
h4 {
    color:#ffc045;
    margin-top:0;
    padding-top:0;
}
li:nth-last-of-type(1){
    padding-top:0;
}
section {
    margin:0 15%;
}
.orange-text {
    color:#ffc045;
}
.across {
    border-bottom: 1px solid #ffc045;
}
/* header grid area */
header nav {
    display:grid;
    grid-template-columns: 4fr 8fr;
}
header figure img {
    height:60px;
}
#burger-menu {
    display:none;
}
header nav ul {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 15px;
}
header nav li {
    color:#ffc045;
    list-style: none;
}
header nav a {
    color:#9dd3dd;
    text-decoration-line: none;
    padding-left:10px;
}
header nav a:hover {
    color:#ffc045;
}
/* intro grid section */
#intro-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "intro photo"
    "about about";
}
#intro {
    grid-area: intro;
}
#intro h2 {
    border-bottom: 1px solid #ffc045;
}
#photo-of-me {
    grid-area: photo;
    border-left: solid 1px #ffc045;
}
#photo-of-me img {
    float:right;
}
#about {
    grid-area: about;    
    border-left:1px solid #ffc045;
}
#about ul {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

/* work experience section */
#work-experience {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    grid-template-areas:  
    "title title"
    "list exp1"
    "list exp2"
    "list exp3"
    "list exp4"
    "list exp5";
    /* border-right: 1px solid #ffc045; */
}
#work-experience-header {
    grid-area: title;
}
#work-experience-list {
    grid-area: list;
    border-right:1px solid #ffc045;
}
#work-experience-list ul {
    margin:0 15px 0 0;
}
#work-experience-list ul li{
    padding:0 0 15px 0;
    list-style-type: none;
}
#work-experience-list ul li:hover {
    color:#ffc045;
    cursor: pointer;
}
#work-experience-1 {
    grid-area:exp1;
}
#work-experience-2 {
    grid-area:exp2;
    display: none;
}
#work-experience-3 {
    grid-area:exp3;
    display: none;
}
#work-experience-4 {
    grid-area:exp4;
    display: none;
}
#work-experience-5 {
    grid-area:exp5;
    display: none;
}

/* Projects Area */
#slider {
    display:grid;
    grid-template-columns: 1fr 8fr 1fr;
}
#right-arrow, #left-arrow {
    align-self: center;
    justify-self: center;
}
#left-arrow img, #right-arrow img {
    height:40px;
}
#project-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas:  
    "title title title"
    "img-left img-middle img-right";
    border-top: 1px solid #ffc045;
    border-right: 1px solid #ffc045;
}
#project-thumbnails-header {
    grid-area: title;
}
#thumb-container-left {
    grid-area:img-left;
    margin:0 7.5px 0 15px;
}
#thumb-container-middle {
    grid-area:img-middle;
    margin:0 7.5px;
}
#thumb-container-right {
    grid-area:img-right;
    margin:0 15px 0 7.5px;
}
#thumbnail-1, #thumbnail-2, #thumbnail-3,
#thumbnail-4, #thumbnail-5, #thumbnail-6{
    background-repeat: no-repeat; 
    border: 1px solid #ffc045;
    height:376px;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(157, 211, 221,.25);
}
#thumbnail-1 {
    background-image: url(../images/snowy-mtn-summer.png);  
}
#thumbnail-2 {
    background-image: url(../images/sjst-logo.png);
}
#thumbnail-3 {
    background-image: url(../images/dinah-cat.jpg);
}
#thumbnail-4 {
    background-image: url(../images/jscode.jpg);
}
#thumbnail-5 {
    background-image: url(../images/football-xs-and-os.jpg);
}
#thumbnail-6 {
    background-image: url(../images/portfolio-proto.JPG);
}
.thumb-text {
    text-align: center;
    color: #9dd3dd;
    background-color: #0c2233;
    top:50%;
    padding:5px 0;
    border:1px solid #ffc045;
}
#project-grid div a {
    text-align: center;
    color:#ffc045;
    text-decoration-line: none;
    padding:5px 0;
}
#project-grid div a:hover {
    text-align: center;
    color:#9dd3dd;
}
/* Contact Me area */
#clear-thumbs {
    margin-top:30px;
}
#contact-me {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#footer-left {
    justify-self: left;
}
#footer-middle {
    justify-self: center;
    border-right: 1px solid #ffc045;
}
#footer-right {
    justify-self: right;
}
#contact-me a {
    color:#ffc045;
    text-decoration-line: none;
    padding:5px 0;
}
#contact-me a:hover {
    color:#ffff;
}

@media (max-width: 767px) {
    section, .across {
        margin:0 2%;
    }
    header figure {
        margin-left:2%;
    }
    header {
        display:unset;
    }
    #intro-grid {
        grid-template-columns: 1fr; 
        grid-template-areas:  
        "intro"
        "photo"
        "about";
    }
    #photo-of-me {
        justify-self: center;
        border-left:none;
    }
    #about ul {
        grid-template-columns: 1fr 1fr;
    }
    #work-experience {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "list"
        "exp1"
        "exp2"
        "exp3"
        "exp4"
        "exp5";
    }
    #project-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "img-left"
        "img-middle"
        "img-right";
    }
    #project-grid div {
        margin:0 15px;
    }
    #contact-me {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15px;
        grid-template-areas: 
        "left left left"
        "middle right right";
    }
    #contact-me {
        margin: 0 2%;
    }
    #footer-left {
        grid-area:left;
    }
    #footer-middle {
        grid-area: middle;
    }
    #footer-right {
        grid-area: right;
    }
    footer img {
        width:98%;
    }
    .small {
        font-size: 10pt;
    }
    /* 
    Style the navigation menu 
    https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
    */
    #burger-menu {
        display:block;
    }
    .topnav {
        display:block;
        overflow: hidden;
        background-color: #0c2233;
        position: relative;
        margin: 0 2%;
    }
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
    
    /* Style navigation menu links */
    .topnav a {
        color:#fff;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        background: #0c2233;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #0c2233;
        color: #ffc045;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        color: white;
    }
}